@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carattere&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

:root {
  --title-font: 'Bebas Neue', cursive;
  --special-font: 'Carattere', cursive;
  --main-font: 'Roboto', sans-serif;

  --header-background-color: #010101;
  --section-background-color: floralwhite;

  --primary-color: #0016B7FF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--header-background-color);
}

span {
  color: var(--primary-color);
}

navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  //background-image: linear-gradient(to bottom, rgba(0, 7, 56, 0.58), black);
  position: sticky;

  .logo a {
    font-family: var(--title-font);
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 0.06em;
    color: var(--section-background-color);
    text-decoration: none;
  }

  .logo span {
    font-family: var(--title-font);
    font-size: 52px;
  }

  .inlineMenu li {
    display: inline-block;
    margin: 0 25px;

    a {
      text-decoration: none;
      color: var(--section-background-color);
      font-family: var(--main-font);
    }
  }

  .wrappedMenu {
    display: flex;
    flex-direction: column;

    li a {
      color: white;
      font-size: 32px;
    }
  }
}

header {
  display: flex;
  width: 100%;
  height: 60vh;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    color: var(--header-background-color);
    text-shadow: 0 0 25px var(--primary-color);
    font-family: var(--title-font);
    font-size: 9em;
    filter: blur(3px);
    user-select: none;
  }

  p {
    color: var(--section-background-color);
    font-family: var(--special-font);
    font-size: 80px;
    letter-spacing: 0.06em;
    position: absolute;
    text-shadow: 0 0 5px var(--primary-color);
    top: 55%;
  }
}

section {
  background-color: var(--section-background-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 150px;

  .aboutMe {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      display: flex;
      width: 100%;
      h2 {
        font-family: var(--title-font);
        font-size: 46px;
        color: var(--header-background-color);
        letter-spacing: 0.06em;
        position: relative;

        ::after {
          position: absolute;
          content: '';
          top: 50%;
          left: 170px;
          width: 200px;
          height: 2px;
          background: #b9b9b9;
        }
      }
    }
    .content{
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: var(--main-font);
      margin-top: 50px;
      .title{
        width: auto;
        font-family: var(--title-font);
        font-size: 32px;
      }
      .location{
        color: #b9b9b9;
        margin-bottom: 35px;
      }
      .decription{
        text-align: center;
        font-size: 18px;
        a{
          text-decoration: none;
          color: var(--primary-color);
        }
      }
    }

  }
  .skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 65px;
    .title{
      p{
        width: auto;
        font-family: var(--title-font);
        font-size: 32px;
        font-weight: normal;
      }
    }
    .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      :nth-child(even){
        flex-direction: row-reverse;
      }
      .skill{
        display: flex;
        box-shadow: 0 10px 20px lightgray;
        padding: 20px 25px;
        border-radius: 25px;
        margin-top: 35px;
        justify-content: space-between;
        .logo img{
          width: 125px;
          height: 125px;
        }
        &-description{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          width: 80%;
          &-title{
            font-family: var(--title-font);
            font-size: 24px;
          }
          &-text{
            font-family: var(--main-font);
          }
        }
      }
    }
  }
}